/* SignUp.css */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(3, 112, 82); /* Add your background color */
  }
  
  .signup-form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #f67777;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(75, 22, 22, 0.1);
  }